<header>
  <h1 class="main"><a href="/#top">Alex Flannel</a></h1>
  <ul class="visible-links">
    {%- for link in site.data.navigation.main -%}
    <li class="masthead__menu-item">
      <a
        href="{{ link.url | relative_url }}"
        {%
        if
        link.description
        %}
        title="{{ link.description }}"
        {%
        endif
        %}
        >{{ link.title }}</a
      >
    </li>
    {%- endfor -%}
    <li class="masthead__menu-item">
      <a target="_blank" href="https://www.spellboundfire.com">
        Spellboundfire
      </a>
    </li>
    <li class="masthead__menu-item">
      <a target="_blank" href="https://alexflannel.newgrounds.com/">
        Newgrounds
      </a>
    </li>
  </ul>
</header>
