<header>
  <h1 class="main"><a href="/#top">Alex P. Grover</a></h1>
  <ul class="visible-links">
    {%- for link in site.data.navigation.main -%}
    <li class="masthead__menu-item">
      <a href="{{ link.url | relative_url }}" {% if link.description %} title="{{ link.description }}" {% endif %}>{{
        link.title }}</a>
    </li>
    {%- endfor -%}
    <li class="masthead__menu-item">
      <a target="_blank" href="https://alexpgrover.newgrounds.com/">
        Newgrounds
      </a>
    </li>
  </ul>
</header>